/* ========================
   FONTS
   ======================== */
@font-face {
  font-family: 'Poppins';
  src: url('./Fonts/Poppins/Poppins-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('./Fonts/Poppins/Poppins-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('./Fonts/Jost/Jost-VariableFont_wght.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Epilogue';
  src: url('./Fonts/Epilogue/Epilogue-VariableFont_wght.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@import "tailwindcss";

/* Clases personalizadas */
.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.font-jost {
  font-family: 'Jost', sans-serif;
}

.font-epilogue {
  font-family: 'Epilogue', sans-serif;
}

/* =========================
   Base reset y estilos globales
   - Usamos @layer base para integrarlo con Tailwind
   ========================= */
@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }

  body {
    @apply text-white bg-gray-950 overflow-x-hidden;
  }

  section {
    scroll-margin-left: 255px;
  }
}

/* COMPONENTES */
@layer components {
  .menu-item {
    @apply relative text-gray-500 font-bold cursor-pointer transition-colors duration-200 ease-linear select-none;

    &::before {
      content: '';
      @apply absolute left-0 bottom-0 h-0.5 bg-rose-700 w-0 transition-all duration-500 ease-out;
    }

    &:hover::before,
    &.active::before {
      @apply w-[20%];
    }

    &:hover {
      @apply text-cyan-50;
    }
  }

  /* HERO IMAGE */
  .hero-bg {
    background-image: url('/images/HeroImg.webp');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-color: #0f0f1a;
  }

}

/* PARA PANTALLAS DE 1024 x 600 */

@media screen and (max-width: 1024px) and (max-height: 600px) {
  html {
    height: 100vh;
  }

  /* Componente header */
  #header {
    height: 100vh;
    max-height: 100vh;
  }

  #branding {
    margin-top: 1rem;
  }

  #btn-lang {
    align-self: end;
  }

  /* clases aplicables */
  .nesthub-footer {
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }

  .nesthub-align {
    justify-content: center;
    align-content: center;
  }

  .nesthub-col {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
  }

  .nesthub-content {
    height: 100%;
  }

  .nesthub-end {
    justify-content: end;
  }
}