
@import "tailwindcss";


/* 🔹 RESET (va dentro de @layer base) */
@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
    color: inherit;
    font-weight: normal;
  }

  html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: sans-serif;
    height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }

  *,
  *::after,
  *::before {
    box-sizing: inherit;
  }

  body {
    overflow-x: hidden;
  }

  /* Evita que las secciones queden tapadas al scrollear hacia ellas */
  section {
    scroll-margin-left: 255px;
    /* Ajusta al ancho de tu sidebar */
  }
}

/* 🔹 COMPONENTES personalizados */
@layer components {
  .menu-item {
    @apply relative text-gray-500 font-[700] cursor-pointer transition-colors duration-200 ease-linear select-none;

    &::before {
      content: '';
      @apply absolute left-0 bottom-0 h-0.5 bg-rose-700 w-0 transition-all duration-500 ease-out;
    }

    &:hover::before {
      @apply w-[20%];
    }

    &.active::before {
      @apply w-[20%];
    }

    &:hover {
      @apply text-cyan-50;
    }
  }
}